
.unused-files-page-filters {
    display: flex;
    flex-wrap: wrap;
}
.unused-files-page-filters h2 {
    font-weight: bold;
    width: 100px;
    display: block;
    line-height: 28px;
}
#unused-files-page-filters {
    width: calc(100% - 100px);
}
#unused-files-page-filters > div {
    display: flex;
    width: 100%;
}
#unused-files-page-filters > div > .form-item,
#unused-files-page-filters > div > .form-submit {

}
#unused-files-page-filters > div > .form-item.form-type-select,
#unused-files-page-filters > div > .form-item.form-type-textfield {
    display: flex;
    margin-right: 10px;
}
#unused-files-page-filters > div .button {
    display: inline-block;
    margin: 0px;
}
#unused-files-page-filters > div > .form-item.form-type-select label,
#unused-files-page-filters > div > .form-item.form-type-textfield label {
    margin-right: 10px;
}
